:root {
  --default-font-family: "Raleway", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/Arizona.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 200px;
}

.header h1 {
  font-size: 80px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
}

.header h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 0;
  letter-spacing: 2px;
}

.header h3 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 60px;
}

.header a {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 35px;
  letter-spacing: 3px;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Bryce 1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  color: white;
  column-gap: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer li {
  margin-bottom: 5px;
}
footer ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 1000px) {
  .header {
    padding: 100px;
  }
  .header h1 {
    font-size: 45px;
    margin-bottom: 15px;
  }

  .header h2 {
    font-size: 20px;
  }

  .header h3 {
    font-size: 25px;
  }

  .header a {
    font-size: 12px;
    padding: 12px 20px;
  }

  footer h2 {
    font-size: 20px;
  }

  footer a,
  p {
    font-size: 15px;
  }
  footer .grid {
    padding: 50px;
  }
}
